# Union

```sql
-- Select fields from 2010 table
select *
  -- From 2010 table
  from economies2010
	-- Set theory clause
	union
-- Select fields from 2015 table
Select *
  -- From 2015 table
  from economies2015
-- Order by code and year
order by code, year;
```

# Union 2

```sql

-- Select field
select country_code
  -- From cities
  from cities
	-- Set theory clause
	union 
-- Select field
select code
  -- From currencies
  from currencies
-- Order by country_code
order by country_code;
```

# Union all

```sql
-- Select fields
SELECT code, economies.year
  -- From economies
  FROM economies
	-- Set theory clause
	union all
-- Select fields
SELECT country_code, populations.year
  -- From populations
  FROM populations
-- Order by code, year
ORDER BY code, year;
```

# Intersect

```sql 
-- Select fields
select code, economies.year
  -- From economies
  from economies
	-- Set theory clause
	intersect 
-- Select fields
select country_code, populations.year
  -- From populations
  from populations
-- Order by code and year
order by code,year;
```

# Intersect 2

```sql
-- Select fields
select countries.name
  -- From countries
  from countries
	-- Set theory clause
	intersect
-- Select fields
select cities.name
  -- From cities
  from cities;
```

# Except

```sql
-- Select field
SELECT name
  -- From cities
  FROM cities
	-- Set theory clause
	except
-- Select field
SELECT capital
  -- From countries
  FROM countries
-- Order by result
ORDER BY name;
```

# Except 2

```sql
-- Select field
select capital
  -- From countries
from countries
	-- Set theory clause
	except
-- Select field
select name
  -- From cities
  from cities
-- Order by ascending capital
order by capital
```

# Semi Join

```sql
-- Select code
select code
  -- From countries
  from countries
-- Where region is Middle East
where region = 'Middle East';
```

# Diagnosing problems using anti-join

```sql

-- Select code
select code
  -- From countries
  from countries
-- Where region is Middle East
where region = 'Middle East';

```

# Set theory challenge

```sql
-- Select the city name
select name
  -- Alias the table where city name resides
  from cities AS c1
  -- Choose only records matching the result of multiple set theory clauses
  WHERE country_code IN
(
    -- Select appropriate field from economies AS e
    SELECT e.code
    FROM economies AS e
    -- Get all additional (unique) values of the field from currencies AS c2  
    union
    SELECT c2.code
    FROM currencies AS c2
    -- Exclude those appearing in populations AS p
    except
    SELECT p.country_code
    FROM populations AS p
);
```